body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-box {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}